$nav-link-color: #662222;
$hovered-nav-link-color: #FFC107;

main {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  grid-template-areas: 
  "title-logo nav-links"
  "title-logo nav-links";
  background: url('/assets/voxalated_school_bg.png') ;
}

.title-logo-container {
  display: grid;
  grid-template-areas: 
  "title"
  "logo";
  justify-items: center;
  align-items: center;
  grid-area: title-logo;
  border: 0.5px solid black;
  border-radius: 10px;
  margin: 30px 100px;
  background-color: white;
}

.title-wrapper {
  text-align: center;
  padding: 20px;
  grid-area: title;

  p {
    margin-bottom: 0;
  }
}

.logo-container {
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 15px;
  grid-area: logo;

  img {
    width: 100%;
    height: auto;
    margin: 0 auto;

    &:hover {
      cursor: pointer;
      transform: rotate(-10deg);
      transition: transform 0.5s ease-in-out;
    }
  }
}

.logo-inner-container {
  width: 200px;
  height: 200px;
}

.nav-links-container {
  margin: 20px 50px;
  display: grid;
  grid-template-areas: 
  "course-nav program-nav"
  "course-nav-prereq room-nav"
  "department-nav section-nav"
  "enrollment-nav student-nav"
  "instructor-nav term-nav";
  gap: 1em;
  grid-area: nav-links;
}

.nav-links-container > div:hover .nav-link {
  color: $nav-link-color;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
}

.nav-links-container > div:hover ng-icon,
.nav-links-container > div:hover ng-icon * {
  cursor: pointer;
  color: $nav-link-color;
}

.course-nav-container {
  background-color: $nav-link-color;
  padding: 10px;
  border-radius: 10px;
  grid-area: course-nav;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    color: $nav-link-color;
    background-color: $hovered-nav-link-color;
  }
}

.course-nav-prereq-container {
  background-color: $nav-link-color;
  padding: 10px;
  border-radius: 10px;
  grid-area: course-nav-prereq;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    color: $nav-link-color;
    background-color: $hovered-nav-link-color;
  }
}

.department-nav-container {
  background-color: $nav-link-color;
  padding: 10px;
  border-radius: 10px;
  grid-area: department-nav;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    color: $nav-link-color;
    background-color: $hovered-nav-link-color;
  }
}

.instructor-nav-container {
  background-color: $nav-link-color;
  padding: 10px;
  border-radius: 10px;
  grid-area: instructor-nav;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    color: $nav-link-color;
    background-color: $hovered-nav-link-color;
  }
}

.enrollment-nav-container {
  background-color: $nav-link-color;
  padding: 10px;
  border-radius: 10px;
  grid-area: enrollment-nav;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    color: $nav-link-color;
    background-color: $hovered-nav-link-color;
  }
}
  
.program-nav-container {
  background-color: $nav-link-color;
  padding: 10px;
  border-radius: 10px;
  grid-area: program-nav;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    color: $nav-link-color;
    background-color: $hovered-nav-link-color;
  }
}

.room-nav-container {
  background-color: $nav-link-color;
  padding: 10px;
  border-radius: 10px;
  grid-area: room-nav;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    color: $nav-link-color;
    background-color: $hovered-nav-link-color;
  }
}

.section-nav-container {
  background-color: $nav-link-color;
  padding: 10px;
  border-radius: 10px;
  grid-area: section-nav;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    color: $nav-link-color;
    background-color: $hovered-nav-link-color;
  }
}

.student-nav-container {
  background-color: $nav-link-color;
  padding: 10px;
  border-radius: 10px;
  grid-area: student-nav;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    color: $nav-link-color;
    background-color: $hovered-nav-link-color;
  }
}

.term-nav-container {
  background-color: $nav-link-color;
  padding: 10px;
  border-radius: 10px;
  grid-area: term-nav;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    color: $nav-link-color;
    background-color: $hovered-nav-link-color;
  }
}

.nav-link {
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: start;
  text-decoration: none;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $nav-link-color
  }
}

ng-icon {
  color: white;
}