$top-nav-size: 100px;
$maroon-red: #662222;

@mixin main {
  padding: 15px 35px;
  margin-top: $top-nav-size;
  height: 100vh;

  .title-container {
    text-align: center;
    margin-bottom: 20px;
  }
}

@mixin table-styles($columns-color) {
  background-color: $columns-color;
  padding: 12px 15px;
  color: white;

  th {
    color: white;
    text-align: left;
  }
}

@mixin table-border {
  border-radius: 20px;
  overflow: hidden;
}

@mixin actions-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
}