@use '../../styles/mixins' as m;

$top-nav-size: 100px;
$maroon-red: #662222;

main {
  @include m.main;
}

table.ems-table thead th {
  @include m.table-styles($maroon-red);
}

.table-container {
  @include m.sm-tbl;
}

table.ems-table {
  @include m.table-border;
}

.actions-container {
  @include m.actions-container;
}

.top-actions-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.search-sort-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
}