$dark-grey: #3333338a;

.top-nav-container {
  border-bottom: 1px solid $dark-grey;
  padding: 15px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: white;
}

.system-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;

  h4 {
    font-weight: bold;
    margin: 0
  }
}

.categories-dropdown-container {
  width: 200px;
}